{% extends "base_template.html" %}
{% load blog_ex %}

{% block title_string %}Лента{% endblock title_string %}

{% block buttons %}
{% if user.is_authenticated %}
    

{% if feed_type == 'my_feed' %}
<input type="button" value="Добавить запись" onclick = "window.location.href = '{% url 'entry_add' %}'"  />

<input type="button" value="Все записи" onclick = "window.location.href = '{% url 'all_feed' %}'"  />

{% elif feed_type == 'author_feed' %}

        {% if author in request.user.subscriptions.all %}
        <input type="button" value="Отписаться" onclick = "window.location.href = '{% url 'subscribe' author.id %}'"  />
        {% else %}
        <input type="button" value="Подписаться" onclick = "window.location.href = '{% url 'subscribe' author.id %}'"  />
        {% endif %}

{% elif feed_type == 'all_feed' %}
                
    

{% elif feed_type == 'feed' %}
<input type="button" value="Все записи" onclick = "window.location.href = '{% url 'all_feed' %}'"  />

{% endif %}
{% else %}
<input type="button" value="Все записи" onclick = "window.location.href = '{% url 'all_feed' %}'" />
{% endif %}
{% endblock buttons %}

{% block main %}
{% if feed_type == 'my_feed' %}
    <h3>Мои записи</h3>

{% elif feed_type == 'author_feed' %}
    
    <h3>Блог пользователя <b>{{author}}</b></h3>

{% elif feed_type == 'all_feed' %}
    
    <h3>Все записи</h3>
        
{% endif %}

<p>

    <ul>
{% for post in object_list %}
    <li style='width:600px;'><a href="{% url 'entry_view' post.id %}">{{ post.entry_datetime|date:"d.m.Y H:m" }} - {{ post.header }} @ {{post.owner}}
    </a>
    <br />
    {{post.entry_text|linebreaksbr|slice:":250" }}
    {% if post.entry_text|length > 250 %}...<a href="{% url 'entry_view' post.id %}">далее</a>{% endif %}
    <br />
    {% if user.is_authenticated %}

    {% if post|readed:user %}
        <input type="button" value="Прочитан" onclick = "window.location.href = '{% url 'readed' post.id %}?redirect_to={{ request.get_full_path }}'"  />
    {% else %}
        <input type="button" value="Не прочитан" onclick = "window.location.href = '{% url 'readed' post.id %}?redirect_to={{ request.get_full_path }}'"  />
    {% endif %}

    {% endif %}

    </li>
    {% empty %}
    <li>Нет записей.</li>
{% endfor %}
</ul>

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="{{request.path}}?page={{ page_obj.previous_page_number }}">предыдущая</a>
    {% endif %}
            
    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
               
    {% if page_obj.has_next %}
        <a href="{{request.path}}?page={{ page_obj.next_page_number }}">следующая</a>
    {% endif %}

{% endif %}


</p>
{% endblock main %}