{% extends "base_template.html" %}

{% block title_string %}Лента{% endblock title_string %}

{% block buttons %}

<input type="button" value="Добавить запись" onclick = "window.location.href = '{% url 'entry_add' %}'"  />

{% endblock buttons %}

{% block main %}
<p style='width:600px; margin-left:30px;'>
<b>{{ object.header }}</b>
</p>
<br />
<p style='width:600px; margin-left:30px;'>
{{object.entry_text|linebreaksbr }}
</p>
<p style='width:600px; margin-left:30px; text-align:right;'>
<i>
<b>@ <a href="{% url 'author_feed' object.owner.id %}">{{ object.owner }}</a></b>
</i>

</p>
{% endblock main %}