{% extends "base_template.html" %}

{% block title_string %}Добавляем запись в блог{% endblock title_string %}

{% block buttons %}
<a href="#" onclick = "history.back();" >Назад</a>

{% endblock buttons %}


{% block main %}
    
<h1>Новая запись в блог</h1>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Записать</button>
        </form>

{% endblock main %}

