<html>

<head>

<title>{% block title_string %} {% endblock title_string %} - Challenge Blog System</title>

</head>
<body>
<input type="button" value="Лента" onclick = "window.location.href = '{% url 'feed' %}'"  /> 
<input type="button" value="Мой блог" onclick = "window.location.href = '{% url 'my_feed' %}'"  />

{% block buttons %}

{% endblock buttons %}


{% block main %}
    




{% for post in object_list %}
    <li>{{ post.entry_datetime|date:"d.m.Y" }} - {{ post.header }}</li>
{% empty %}
    <li>Нет записей.</li>
{% endfor %}

{% endblock main %}

<p> 
{% if user %}
<input type="button" value="Выйти" onclick = "window.location.href='/accounts/logout'"  />

{% else %}
<input type="button" value="Войти" onclick = "window.location.href='/accounts/login'"  />
    
{% endif %}
</p>
</body>
</html>