{% if form.errors %}
<p>Ошибка при вводе логина или пароля. Попробуйте еще раз.</p>
{% endif %}

<form method="post" action="/accounts/login/">
{% csrf_token %}
<table class='dd'>
<tr>
    <td>{{ form.username.label_tag }}</td>
    
    <td>
<input name="username" id="id_username"  /></td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>
<input id="id_password" name="password" type="password"  />
    </td>
</tr>
</table>

<input type="submit" value="Ок" />
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
</form>